/* Fuentes Inter y Bonheur Royale */
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Inter:wght@100;400;700&display=swap");

/* Normalización */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: black;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  font-size: medium;
}

/* Colores */
:root {
  --header-footer: #217a98;
  --body-color: #c7c6c6;
  --card-back: #c8dce9;
}

/* Header */
header,
footer {
  background-color: var(--header-footer);
}

header a {
  font-family: "Bonheur royale", cursive;
  color: white;
  font-size: 5.5rem;
  margin: 3.5rem;
}

/* body */
body {
  background-color: var(--body-color);
}
h1 {
  text-align: center;
  padding: 4rem;
  font-size: x-large;
}

/* Quién soy */
.card {
  position: relative;
  text-align: center;
  background-color: var(--card-back);
  width: 40rem;
  height: 40rem;
  margin: 2rem auto;
  border-radius: 5%;
  overflow: hidden;
}

.header-card {
  position: relative;
}

.portada-card {
  height: 10rem;
  background-image: url(img/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.header-card img {
  position: absolute;
  border-radius: 50%;
  width: 13rem;
  top: 3rem;
  right: 13.3rem;
}

.body-card {
  position: relative;
  top: 8rem;
}

.nombre {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.datos {
  font-size: 14px;
}
.contenido-card {
  padding: 3rem 6rem;
}

.foot-card {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
}

.lista-redes li {
  display: inline-block;
  color: rgb(8, 71, 135);
  margin: 5px 3px;
  font-size: 28px;
}

li a i:hover {
  color: #217a98c6;
}

section {
  padding: 3rem 2rem;
}

h2 {
  margin: 1rem;
  font-size: large;
}

.background-respuesta {
  background-color: var(--card-back);
  margin: 5rem 2.5rem 1rem 2.5rem;
  padding: 2rem;
  width: fit-content;
  border-radius: 5px;
}

/* Hobbies */
.actividad {
  display: inline-block;
  text-align: center;
  width: 22rem;
  height: 22rem;
  margin: 2rem 8rem;
}

.actividad picture img {
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  background-color: var(--header-footer);
  color: white;
  text-align: center;
}

.redes {
  font-size: 30px;
  padding: 3rem;
}

.redes a {
  margin-right: 1.25rem;
}

.redes a:hover {
  color: rgba(255, 255, 255, 0.728);
}

footer p {
  padding-bottom: 1rem;
}
